body {
    font-family: Arial, sans-serif;
    background-color: #ecf01a;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    background-color: #ecf01a;

}

.center-image {
    max-width: 100%;
    height: auto;
}

.top-right-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.form-container, .dashboard-container, .balance-container, .statement-container {
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2, .dashboard-container h2, .balance-container h2, .statement-container h2 {
    margin-bottom: 20px;
}

.form-container input, .form-container button {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

.form-container button {
    background-color: #28a745;
    color: white;
}

.dashboard-container button, .balance-container button, .statement-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  

    background-color: #007bff;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}


