<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        {% for message in messages %}
        <h4 style="color:red">{{message}}</h4>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="password1" placeholder="ReenterPassword" required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Register</button>
        </form>
        <p>Already registered? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</body>
</html>
